<% content_for :title, "Move Question" %>

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
	<li><a href="/">Home</a></li>  
	<li>Control Panel</li> 
	<li>Questions</li>
	<li>Edit</li>           
</ul>
<!-- END BREADCRUMB --> 

<div class="content-frame">
  <div class="content-frame-top">                        
    <div class="page-title">                    
      <h2><span class="fa fa-cog"></span> Control Panel</h2>
    </div>                                      
    <div class="pull-right">
      <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
    </div>                        
  </div>
  <!-- END CONTENT FRAME TOP -->
  
  <!-- START CONTENT FRAME LEFT -->
  <div class="content-frame-left">
		<%= render 'layouts/left_survey_contents' %>
  </div>
  <!-- END CONTENT FRAME LEFT -->

  <!-- START CONTENT FRAME BODY -->
  <div class="content-frame-body">
              
		<h2><span class="fa fa-arrows"></span> Move Question: <%= @question.title %></h2>

		<div class="col-md-6">

			<% if @possible_moves_list.blank? %>
				<div class="alert-compact alert-warning-light" role="alert">
		        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		        <strong>Oh no!</strong> Question cannot move. Movements may be restricted based on category or parent/child relations
		    </div>
	    <% end %>

  		<div class="panel panel-body">
  			<%= form_for :question, :url => {:controller => :questions, action: :update}, method: :patch do |f| %>
  			<%= f.hidden_field :operation, value: "move" %>

        <div class="form-group">
          <p><label for="next">Before question:</label>
          <%= f.select :next_id, options_for_select(@possible_moves_list.to_a),{},{class: 'form-control y-500'} %></p>
        </div>

        <%= f.submit 'Move', class: 'btn btn-primary' %>
        <%= link_to 'Back', {controller: :questions, action: :edit, id: @question.id}, class: 'btn btn-primary' %>
			<% end -%>
			<br/>
	    <%= button_to 'Move To End', {controller: :questions, action: :update, id: @question.id, question: {operation: 'move_to_end'}}, method: :patch, class: 'btn btn-primary' %>
  		</div>
		</div>
	</div>
</div>