<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-8">
		<div class="panel panel-default push-up-20">
		<%= form_for :comment, url: {controller: :comments, action: :create, parents: @parents}, method: :post do |f| %>
			<div class="panel-heading">
        <h3 class="panel-title"><%= @question.title %></h3>
      </div>

			<div class="panel-body"> 
      	<%= f.hidden_field :question_id, value: @question.id %>
      	<%= f.text_area :comment, class: 'form-control'  %>
      </div>

      <div class="panel-footer">
				<% if !@comment.nil? %>
					<%= form_for :comment, url: {controller: :comments, action: :update}, method: :patch do |f| %>
	       		<%= f.submit 'Change', class: 'btn btn-primary pull-right' if @question.revote %>
	      	<% end %>
	      	<div class="btn btn-warning pull-right push-left-8">You have already left a comment</div>
				<% else %>
					<% if @next_question.nil? %>
	       		<%= f.submit 'Finish', class: 'btn btn-primary pull-right' %>
	       	<% else %>
	       		<%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
	       	<% end %>
				<% end %>
	    	<%= link_to 'Skip', {controller: :questions, action: :show, id: @next_question.id, parents: @parents}, class: 'btn btn-primary' if !@next_question.nil? && !@question.revote %>
    	</div>
		<% end %>
		</div>
	</div>
</div>