<div class="row">
	<% Answer.where(question_id: @question.id).each do |a| %>
	  <div class="col-md-6">
	  	<div class="options-button single_answer tr-clickable <%= 'selected' if @selected_answers.include?(a.id) %>" data-answer_id="<%= a.id %>" data-question_id="<%= @question.id %>">
	  	  <%= a.title %>
	  	  <%= check_box_tag 'answers[%s]' % [a.id], nil, @selected_answers.include?(a.id), class: 'hidden' %>
			</div>
			
	  </div>
  <% end %>
</div>