<% content_for :title, "New Answer" %>

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
	<li><a href="/">Home</a></li>  
	<li>Control Panel</li> 
	<li>Answers</li>
	<li>New</li>           
</ul>
<!-- END BREADCRUMB --> 

<div class="content-frame">
  <div class="content-frame-top">                        
    <div class="page-title">                    
      <h2><span class="fa fa-cog"></span> Control Panel - Edit Survey</h2>
    </div>                                      
    <div class="pull-right">
      <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
    </div>                        
  </div>
  <!-- END CONTENT FRAME TOP -->
  
  <!-- START CONTENT FRAME LEFT -->
  <div class="content-frame-left">
  </div>
  <!-- END CONTENT FRAME LEFT -->
  
  <!-- START CONTENT FRAME BODY -->
  <div class="content-frame-body">
              
		<h2><span class="fa fa-plus"></span> New Survey</h2>
		<%= form_for :survey, :url => {:controller => :survey, action: :create} do |f| %>
    <div class="panel panel-default max-x-1000">
    	<div class="panel-heading">
        <h3 class="panel-title"><%= @question.title %></h3>
    	</div>
    	<div class="panel-body">
        <div class="form-group">
          <p><label for = "survey_name">Survey Name</label>:
          <%= f.text_field :name, id: 'survey', class: 'form-control' %></p>
        </div>

        <%= f.submit 'Add Answer', class: 'btn btn-primary' %>
				<%= link_to 'Cancel', {controller: :admin, action: :control_panel}, class: 'btn btn-primary' %>
      </div>
    </div>
    <% end -%>
  </div>
    <!-- END CONTENT FRAME BODY -->
</div>