<div class="dd" id="nestable">
	<ol class="dd-list">
		<% @navigation_data.each do |o| %>
			<% if o.is_a?(Hash) %>

				<li class="dd-item" data-id="1">
					<div class="dd-handle category"><%= o.first[0] %></div>
				</li>

				<ol class="dd-list" style="">
					<% o[o.first[0]].each do |q| %>
						<li class="dd-item"><div class="dd-handle question" data-id="<%= q %>"><%= Question.find(q).title %>
						<div class="list-group-controls options hidden">
	        <%= link_to controller: :answers, action: :new, question: q do %><span class="fa fa-plus pull-right"></span><% end %>
	        <%= link_to controller: :questions, action: :edit, id: q do %><span class="fa fa-pencil pull-right"></span><% end %>
	      </div></div></li>
						<% Answer.where(question_id: q).each do |a| %>
							<li class="dd-item <%= 'hidden' unless !@question.nil? && q == @question.id %>"><div class="dd-handle answer" data-id="3" data-question="<%= q %>"><%= a.title %>
							<div class="list-group-controls options hidden">
				        <%= link_to controller: :answers, action: :edit, id: a do %><span class="fa fa-pencil pull-right"></span><% end %>
				      </div>
							</div></li>
						<% end %>
					<% end %>
				</ol>

			<% else %>

				<li class="dd-item" data-id="1">
					<div class="dd-handle question" data-id="<%= o %>"><%= Question.find(o).title %>
					<div class="list-group-controls options hidden">
	        <%= link_to controller: :answers, action: :new, question: o do %><span class="fa fa-plus pull-right"></span><% end %>
	        <%= link_to controller: :questions, action: :edit, id: o do %><span class="fa fa-pencil pull-right"></span><% end %>
	      </div></div>
				</li>

				<% Answer.where(question_id: o).each do |a| %>
					<li class="dd-item <%= 'hidden' unless !@question.nil? && o == @question.id %>"><div class="dd-handle answer" data-id="3" data-question="<%= o %>"><%= a.title %>
						<div class="list-group-controls options hidden">
	        <%= link_to controller: :answers, action: :edit, id: a do %><span class="fa fa-pencil pull-right"></span><% end %>
	      </div>
					</div></li>
				<% end %>

			<% end %>
		<% end %>
	</ol>
</div>