<!DOCTYPE html>
<html lang="en">
  <head>        
    <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "Survey" %></title>             
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <%= stylesheet_link_tag "theme-admin", id: "theme", media: "all" %>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Andada" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Damion" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Caveat" >
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Boogaloo" >
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Questrial" >
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Da" >   

  </head>
  <body>
    <noscript><div class="alert alert-danger">You do not have Javascript enabled. Many features of this site require Javascript. Please visit http://enable-javascript.com/ to learn how to enabled it.</div></noscript>
    
    <div class="page-container page-navigation-top">            
      <div class="page-content">

	    	<%= render 'layouts/x_navigation_admin' %>
	      <%= yield %>

	    </div>
	  </div>

    <%=javascript_include_tag "application", "data-turbolinks-track" => true %>

  </body>
</html>